.cards_block {
    display: flex;
    justify-content: center;
    width: 85vw;
    height: 80vh;

    .cards_block_div {
        display: flex;
        justify-content: center;
        width: 85vw;
        overflow: auto;

        .cards_block {
            display: flex;
            flex-wrap: wrap;
            width: 60vw;

            .cards_div {
                display: flex;
                justify-content: center;
                flex-wrap: wrap;
                width: 50vw;
            }
        }
    }
}