.header {
    width: 85vw;
    height: calc(10vh - 1px);
    background-color: darkcyan;
    border-bottom: 1px black solid ;

    .header_buttons_div {
        display: flex;
        justify-content: space-around;
        align-items: center;
        width: 25vw;
        height: 10vh;

        .header_button {
            width: 7vw;
            height: 5.5vh;
            border: 1px black solid;
            border-radius: 4px;
            cursor: pointer;
        }

        .header_button:hover{
            background-color: rgb(39, 39, 88);
            color: cornsilk;
            transition: all 0.25s linear;
        }
    }
}