.footer {
    width: 85vw;
    height: calc(10vh - 1px);
    border-top: 1px black solid;

    .footer_div {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 80vw;
        height: 10vh;
        font-size: 20px;
    }
}